<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="lifxbmc">
    <setting label="Lightbulb Discovery" type="lsep" /><!-- http://sfwriter.com/2009/02/how-many-dictionaries-does-it-take-to.html besides, it looks better -->
    <setting type="sep" />
    <setting id="disc_freq" label="Frequency (sec)" type="number" rangestart="10" rangeend="120" elements="10" valueformat="%2.0f mp" default="10" />
    <setting id="group_filter" label="Group (empty for all)" type="text" default="" />

    <setting id="dim_value" label="Quick dim" type="slider" range="0,5,100" option="percent" default="10" />
    <setting id="change_duration" label="Transition duration (sec)" type="slider" range="0,0.1,5" option="float" default="1.5" />
  </category>
</settings>
